body {
  @include reg;
  color: #5C5C5C;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  @include bold;
}

<<<<<<< HEAD
p {
  margin: 0;
}

=======
>>>>>>> d5e7fe8b4275c6be8008a1c20f10e2316d6082fb
button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.btn-o {
  @include bold;
  color: #FF790C;
  border: 3px solid #FF790C;
}

.btn {
  font-size: 29px;
  line-height: 28px;
  color: #fff;
  background-color: #FF7200;
  @include bold;
}