.about-company {


  &__content {
    display: flex;
    justify-content: space-between;
    transform: translateY(-65px);
    padding: 50px 50px 44px 54px;
    background: #FFFFFF;
    box-shadow: 0px -129px 108px rgba(0, 0, 0, 0.13);
    border-bottom: 50px solid #FF7200;

    max-width: 1180px;

    @media (max-width: 1003px) {
      flex-direction: column-reverse;
      max-width: none;
      padding-top: 30px;
    }
  }

  &__img-wrap {
    display: flex;
    align-items: center;

    @media (max-width: 1003px) {
      margin-top: 70px;
    }
  }

  &__img {
    display: inline-block;
    width: 90%;

    @media (max-width: 1003px) {
      width: 100%;
    }
  }

  &__text {
    margin-top: 20px;
    max-width: 585px;

    @media (max-width: 1003px) {
      max-width: none;
    }
  }

  &__title {
    font-size: 3.8rem;
    line-height: 3.6rem;
    color: #4D4D4D;
    margin-bottom: 32px;
  }

  &__desc {
    font-size: 1.8rem;
    line-height: 1.32;
    margin-bottom: 50px;

    @media (max-width: 1400px) {
      font-size: 2.3rem;
    }
  }

  &__btn {
    padding: 19px 72px;
  }

  &__bg {
    position: absolute;
    top: 169px;
    right: 245px;
    z-index: -1;
  }
}