.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.78)),
    url('../img/footer/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 100vh;

  &__content {}

  &__phone {
    display: inline-block;
    font-size: 7rem;
    line-height: 6.7rem;
    @include bold;
    color: #fff;
    margin-bottom: 24px;

    @media (max-width: 557px) {
      font-size: 5rem;
    }

    @media (max-width: 398px) {
      font-size: 4rem;
    }
  }

  &__address {
    font-size: 5.1rem;
    line-height: 1.2;
    margin-bottom: 80px;
    font-style: normal;
    @include bold;

    @media (max-width: 557px) {
      font-size: 5rem;
      margin-bottom: 40px;
    }

    @media (max-width: 398px) {
      font-size: 4rem;
    }
  }

  &__btn {
    display: inline-block;
    padding: 23px 110px;
    margin-bottom: 80px;

    @media (max-width: 557px) {
      margin-bottom: 40px;
    }

    @media (max-width: 369px) {
      padding: 23px 50px;
    }
  }

  &__social {}
}

.footer-social {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  margin: 0 auto;

  &__item {
    display: block;
    transition: all .2s;

    &:hover {
      margin-top: -2px;
    }
  }

  &__img {
    @media (max-width: 358px) {
      width: 60px;
    }
  }
}