.hero-slider {

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url('../img/slider/slider-bg-1.jpg');
  }

  &__hero-title {
    font-size: 9.5rem;
    line-height: 9.1rem;
    margin: 0 0 30px;
    max-width: 1180px;
    @include bold;
  }

  &__subtitle {
    font-size: 4.3rem;
    line-height: 4.1rem;
  }

  &__btn {
    padding: 22px 50px;
    transition: background-color .2s;
    margin-top: 80px;

    &:hover {
      background-color: lighten(#FF7200, 3%);
    }
  }

  &__item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url('../img/slider/slider-bg-2.jpg');
  }

  &__title-2 {
    font-size: 5.1rem;
    line-height: 6.2rem;
    letter-spacing: -0.01em;
    max-width: 520px;
    text-align: left;
    @include bold;
  }

  &__item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url('../img/slider/slider-bg-3.jpg');
  }

  &__title {
    font-size: 14rem;
    line-height: 13.4rem;
    max-width: 1180px;
    @include bold;
  }

  &__item-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url('../img/slider/slider-bg-4.jpg');
  }

  &__item-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url('../img/slider/slider-bg-5.jpg');
  }
}

.hero-item-2 {

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1097px;
    justify-content: space-between;
  }

  &__img {}
}

.slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 112px;
  list-style: none;
  padding: 0;
  font-size: 0;
  left: 50%;
  transform: translateX(-50%);

  li {
    background: rgba(255, 255, 255, 0.4);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 12.5px;

    &.slick-active {
      background: #fff;
    }
  }
}